[run]
branch = True
omit =
    scFates/plot/palette_tools.py
    scFates/logging.py
[report]
exclude_lines =
    if device=="gpu":
    if copy:
    if device == "gpu":
    def mst_gpu
    def cor_mat_gpu
    def norm_R_gpu
    def process_R_gpu
    def norm_R_cpu
    def matmul
    def process_R_cpu
    def palantir_on_seg
    except Exception as e:
    def cdist_numba
