anndata>=0.7.4
seaborn>=0.11.0
tqdm>=4.45.0
PhenoGraph>=1.5.3
numba>=0.51.2
scipy>=1.4.1
scanpy>=1.7.0
numpy>=1.18.1
joblib>=0.17.0
pandas>=1.1.1
statsmodels>=0.11.1
matplotlib>=3.2.1
plotly>=4.8.1
adjustText>=0.7.3
cycler>=0.10.0
python_igraph>=0.8.2
cairocffi>=1.2.0
typing_extensions
scikit-learn
scikit-misc
simpleppt>=1.1.2
networkx>=2.5
igraph>=0.9.6
adjustText>=0.7.3
