typing_extensions
importlib_metadata
sphinx_rtd_theme==0.5.2
#sphinx-autodoc-typehints==1.12
scanpydoc[typehints]>=0.7.4
sphinxext-opengraph
sphinx-copybutton
matplotlib==3.3.1
sphinx>=4.1,<4.2
docutils
readthedocs-sphinx-ext
Jinja2==2.11.3
nbsphinx>=0.8.7
ipython
anndata
numpy
pandas
cycler
