typing_extensions
importlib_metadata
sphinx_rtd_theme==0.5.2
sphinx-autodoc-typehints==1.12
sphinxext-opengraph
sphinx-copybutton
matplotlib==3.3.1
sphinx==3.5.4
docutils==0.17.1
readthedocs-sphinx-ext
Jinja2==2.11.3
nbsphinx==0.8.5
ipython
anndata
numpy
pandas
cycler
scanpydoc
