name: Doc build

on:
  push:
    paths:
      - 'scFates/**'
      - 'docs/**'
      - '.github/workflows/doc.yml'

jobs:
  doc_build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up pixi
      uses: prefix-dev/setup-pixi@v0.8.1
      with:
        pixi-version: latest
        cache: false
    - name: Build documentation
      run: |
        pixi run -e docs docs
